
<div class="page-wrapper">
    <!-- top Links -->
    <div class="top-links">
        <div class="container">
            <ul class="row links">
                <li class="col-xs-12 col-sm-3 link-item"><span>1</span><a href="index.html">Choose Your Location</a></li>
                <li class="col-xs-12 col-sm-3 link-item active"><span>2</span><a href="restaurants.html">Choose Caterers</a></li>
                <li class="col-xs-12 col-sm-3 link-item"><span>3</span><a href="profile.html">Pick Your Menu</a></li>
                <li class="col-xs-12 col-sm-3 link-item"><span>4</span><a href="checkout.html">Order and Pay online</a></li>
            </ul>
        </div>
    </div>
    
</div>  



<!-- //results show -->
<section class="restaurants-page" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
                <div class="sidebar clearfix m-b-20">
                    <div class="main-block">
                        <div class="sidebar-title white-txt">
                            <h6>Choose Occation</h6> <i class="fa fa-cutlery pull-right"></i> </div>
                            <div class="widget-delivery">
                                <form>
                                    <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                                        <label class="custom-control custom-radio">
                                            <input id="radio1" name="radio" type="radio" class="custom-control-input" checked=""> <span class="custom-control-indicator"></span> <span class="custom-control-description">Veg</span> </label>
                                    </div>
                                    <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                                        <label class="custom-control custom-radio">
                                            <input id="radio2" name="radio" type="radio" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">NonVeg</span> </label>
                                    </div>
                                </form>
                            </div>
                        <form>
                            <ul>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Birthday</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Marriage</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Corporate</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Pitty Party</span> </label>
                                </li>
                                <li>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Other</span> </label>
                                </li>
                            </ul>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end:Sidebar nav -->
                    
                </div>
                <div class="widget clearfix">
                    <!-- /widget heading -->
                    <div class="widget-heading">
                        <h3 class="widget-title text-dark">
                     Price range
                  </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-body">
                        <div class="range-slider m-b-10"> <span id="ex2CurrentSliderValLabel"> Filter by price:<span id="ex2SliderVal"><strong>35</strong></span>€</span>
                            <br>
                            <input id="ex2" type="text" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="35" /> </div>
                    </div>
                </div>
                <!-- end:Pricing widget -->
                <div class="widget clearfix">
                    <!-- /widget heading -->
                    <div class="widget-heading">
                        <h3 class="widget-title text-dark">
                     Popular tags
                  </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-body">
                        <ul class="tags">
                            <li> <a href="#" class="tag">
                        Pizza
                        </a> </li>
                            <li> <a href="#" class="tag">
                        Sendwich
                        </a> </li>
                            <li> <a href="#" class="tag">
                        Sendwich
                        </a> </li>
                            <li> <a href="#" class="tag">
                        Fish 
                        </a> </li>
                            <li> <a href="#" class="tag">
                        Desert
                        </a> </li>
                            <li> <a href="#" class="tag">
                        Salad
                        </a> </li>
                        </ul>
                    </div>
                </div>
                <!-- end:Widget -->
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
            <app-caterers-list></app-caterers-list>
            </div>
        </div>
    </div>
</section>

