
<div class="page-wrapper">
    <!-- top Links -->
    <div class="top-links">
        <div class="container">
            <ul class="row links">
                <li class="col-xs-12 col-sm-3 link-item"><span>1</span><a href="index.html">Choose Your Location</a></li>
                <li class="col-xs-12 col-sm-3 link-item"><span>2</span><a routerLink='../'>Choose Caterers</a></li>
                <li class="col-xs-12 col-sm-3 link-item active"><span>3</span><a href="profile.html">Pick Your Menu</a></li>
                <li class="col-xs-12 col-sm-3 link-item"><span>4</span><a href="checkout.html">Order and Pay online</a></li>
            </ul>
        </div>
    </div>    
</div> 

<!-- //results show -->
<!-- <section class="restaurants-page" style="margin-top: 100px;"> -->
<div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
<div class="page-wrapper">
    <div class="container m-t-30">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="sidebar clearfix m-b-20">
                    <div class="main-block">
                        <div class="sidebar-title white-txt">
                            <h6>Choose Menu</h6> <i class="fa fa-cutlery pull-right"></i> </div>
                        <ul>
                            <li><a class="scroll active">Menu 120 Rs (Veg Single)</a></li>
                            <li><a class="scroll">Menu 180 Rs (Veg Full)</a></li>
                            <li><a class="scroll">Menu 250 Rs (Veg Special)</a></li>
                            <li><a class="scroll">Menu 300 Rs (Non Veg)</a></li>
                            <li><a class="scroll">Menu 350 Rs (Non Veg Special)</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>                    
                </div>
                <!-- end:Left Sidebar -->               
            </div>

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">  
                <app-menu-list></app-menu-list>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-3" style="overflow: auto;">
                <div class="sidebar-wrap">
                    <div class="widget widget-cart">  
            <app-your-menu ></app-your-menu>
                    </div>
                </div>
            </div>
            <!-- end:Right Sidebar -->
        </div>
        <!-- end:row -->
    </div>
</div>
</div>
<!-- </section> -->

